
<head>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
        <h3>
                <a href = "index.html"> Home</a>
                <a href="newtask.html"> Add new task</a>
                <a href="listtasks.html"> List all tasks</a>
                <a href="taskdelete.html"> Remove a task</a>
                <a href="taskupdate.html"> Update a task</a>            
        </h3>
    <form action="/removecomp" method="POST">
        Delete all completed tasks?<br>
        <button> Yes </button>
    <form action="/noremovecomp" method = "POST">
        <button>No</button>
</body>

</html>