<html>

<head>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <img src="Welcome.png" />
    </br>
    <h3>
    <a href="newtask.html"> Add new task </a>
    <a href="adddev.html"> Add new developer </a>
    <a href="listdev.html"> View developers </a>
    <a href="listtasks.html"> List tasks </a>
    <a href="taskdelete.html"> Remove a task </a>
    <a href="completetaskdel.html"> Remove all completed tasks </a>
    <a href="taskupdate.html"> Update a task </a>
    
</h3>
</body>

</html>