<html>

<head>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
        <h3>
                <a href = "index.html"> Home</a>
                <a href="listtasks.html"> List all tasks</a>
                <a href="taskdelete.html"> Delete a task</a>
                <a href="completetaskdel.html"> Remove all completed tasks</a>
                <a href="taskupdate.html"> Update a task</a>            </h3>
    </br>

    <form action="/data" method="POST">
        Task Name <input type="text" name="taskName" /><br>
        Assigned To: <input type = "text" name="nameAssigned" /><br>
        Task Due Date <input type="text" name="dueDate" /><br>
        Task Status <select name = "taskStatus">
                <option value> </option>
                <option value ="In progress">In Progress</option>
                <option value = "Completed">Complete</option>
            </select>
        <br>
        Task Desc <input list="text" name="taskDesc" /><br>
        <button> Submit </button>
</body>

</html>