<html>

<head>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
        <h3>
                <a href = "index.html"> Home</a>
                <a href="newtask.html"> Add new task </a>
                <a href="adddev.html"> Add new developer </a>
                <a href="listdev.html"> View developers </a>
                <a href="listtasks.html"> List tasks </a>
                <a href="completetaskdel.html"> Remove all completed tasks </a>
                <a href="taskupdate.html"> Update a task </a> </h3>
    <h3>Enter ID of task to be removed</h3>
    <form action="/remove" method="POST">
        Task ID <input type="text" name="ID" /><br>
        <button> Submit </button>
</body>

</html>